<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #d9ffb3}
tr:nth-child(odd){background-color: #ffffcc}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<br>
<font size="4" color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Title:</font>
<input type="text" ng-model="search.title">
<font size="4" color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Blog Creator:</font>
<input type="text" ng-model="search.createdBy.username">
<div class="table-responsive">
<table class="table">

<br><br><br><br>
<tr>
<th>Title</th>
<th>Created By</th>
<th>Created On</th>
<td ng-show="currentUser.role=='ADMIN' || currentUser.role=='EMPLOYEE' || currentUser.role=='STUDENT' || currentUser.username==blogPost.createdBy.username">DELETE</th>

</tr>
<tr ng-repeat="blogPost in blogPosts | orderBy:'date':true | filter:search">

<td><a href="#/getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By : {{blogPost.createdBy.username}}</td>
<td>Created On: {{blogPost.createdOn | date:'MM/dd/yyyy HH:mm'}}</td>


<td ng-show="currentUser.role=='ADMIN' || currentUser.role=='EMPLOYEE' || currentUser.role=='STUDENT' || currentUser.username==blogPost.createdBy.username"><a href="" ng-click="deleteBlog(blogPost.id)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-trash"></span></a></td>
</tr>
</table>
</div>
</body>
</html>