<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Friend Requests</title>
</head>
<body>
<br><br><br><br>
<p style="color:#ffcc99;font-family:verdana;font-size:120%;">
Pending Requests</p>
<table>
<tr ng-repeat="p in pendingRequest">
<td style="color:#ffcc99;font-family:verdana;font-size:150%;"> {{p.fromId}} &nbsp&nbsp&nbsp&nbsp</td>
<td><a href="" ng-click="updatePendingRequest(p.fromId,'A')" class="btn btn-default">Accept</a></td>
<td><a href="" ng-click="updatePendingRequest(p.fromId,'D')" class="btn btn-default">Deny</a></td>
</tr>

</table>
</body>
</html>